.general-col {
    margin: 300px auto;
    width: 1202px;
    height: 434px;
    border: 3px solid #000;
}

.top-col {
    display: flex;
    justify-content: end;
    /*width: 1174px;*/
    height: 65px;
    /*padding: 0 12px;*/
    border-bottom: 2px solid gray;
}

.button1, .button2 {
    display: flex;
    align-items: center;
    height: 36px;
    background-color: #f6f6f6;
    padding: 0 20px;
    margin: 13px 12px;
    border-radius: 4px;
}

.button1 {
    width: 100px;
}

.button2 {
    width: 127px;      
}

.bottom-col {
    display:flex;
    /*flex-wrap: wrap;*/
}

.logo {
    width: 100px;
    height: 299px;
    padding: 30px 0 40px 100px;
}

.middle-col {
    width: 659px;
    height: 299px;
    padding: 14px 30px 40px 30px;
}

.middle-text {
    color: grey;
    /*font-size: 80%;*/
    width: 600px;
    height: 171px;
    margin: 26;
}

a {
    text-decoration: none;
    color: grey;
}

.history-col {
    width: 255px;
    height: 289px;
    padding: 43px 52px;
}

body {
    font-family: Roboto, Arial, sans-serif;
    /*font-weight: 400;
    font-style: normal;*/
}